<div class="timePick">
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading"> <span class="caret"></span>流量信息 <span>{{trafficName}}</span><span> {{mstartTime}} </span><span>~ {{mendTime}}</span><input type="hidden" value={{mid}} id="mid"></div>
	  <div class="panel-content">
	  	<div class="searchHelp">
	  		<div class="form-group">
	  			<label for="" class="Searchlabel">类型</label>
			 	<select name="searchType" id="searchType">
			 		<option value="1">流量大小</option>
		 			<option value="2">包数</option>
		 			<option value="3">五元组</option>
		 			<option value="4">分片</option>
		 			<option value="5">包长分布</option>
		 		</select>
	  			<label for="" class="Searchlabel">开始时间</label>
	  			<input size="16" type="text" readonly class="form_datetime" id="startTime" datepicker ng-model="dateStart" date-error="errMessage"><span style="font-weight:bold">:</span>
		 		<input type="number"  min="0" max="59" id="startSec" style="width:70px;">秒 <!-- </br> -->
			 			 	
			 	<label for="" class="Searchlabel">结束时间</label>
			 		<input size="16" type="text" readonly class="form_datetime" id="endTime" datepicker ng-model="dateEnd" date-error="errMessage"><span style="font-weight:bold">:</span>
		 		<input type="number"  min="0" max="59" id="endSec" style="width:70px;">秒 <!-- </br> -->
		 		<label for="" class="Searchlabel">端口</label>
			 	<select name="port" id="portId">
			 		<option value="">所有</option>
		 			<option value="0">0</option>
		 			<option value="1">1</option>
		 		</select>
		 		<label for="" class="Searchlabel">网络协议</label>
			 	<select name="net_pro" id="netPro">
			 		<option value="">所有</option>
		 			<option ng-repeat="data in net" value="{{data.id}}">{{data.name}}</option>
		 		</select>
		 		<label for="" class="Searchlabel">传输层协议</label>
			 	<select name="trans_pro" id="transPro" ng-disabled='transDis'>
			 		<option value="">所有</option>
			 		<option ng-repeat="data in trans" value="{{data.id}}">{{data.name}}</option>
		 		</select>
		 		
	  		</div>
	  		<label for="" class="Searchlabel">视图：</label>
		 	<label for="" class="Searchlabel">时间比例尺度</label>
		 	<!-- <input type="radio" name='view' id="monView" value='1' ng-disabled='typeDis'>
		 		 		<label for="">月</label>
		 		 		<input type="radio" name='view' id="dayView" value='2' ng-disabled='typeDis'>
		 		 		<label for="">天</label>
		 		 		<input type="radio" name='view' id="secView" value='3' checked ng-disabled='typeDis'>
		 		 		<label for="">秒</label> -->
		 	<input type="number"  min="1" ng-disabled="scaleDis" id="timeScale">秒
		 	
	 		<input type="checkbox" id="totalUp" name="total" ng-disabled='typeDis'>
	 		<label for="">累积流量</label>	
		 	<button id="searchNum" class="btn btn-info">查询</button>
		 	<span id="exportExcel" class="btn btn-success">导出</span>
		 	<button id="watch" class="btn btn-warning" ng-disabled='typeDis'>实时监控</button>
	  	</div>
		 	<label for="" >对比流量</label><button class="btn btn-warning btn-sm Searchlabel" data-toggle='modal' data-target='#addModal' ng-disabled="compDis">添加</button><button class="btn btn-danger btn-sm Searchlabel" id="deleTraffic" data-toggle='modal' data-target='#deleModal' ng-disabled="compDis">删除</button>
		 	<table class="table seqList">
			    <thead>
			    	<tr>
			    	<th>编号</th><th>对比流量名称</th><th>对比流量描述称</th><th>开始时间</th><th>结束时间</th>
			    	</tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat = 'data in comCkListdata'><td><input type="checkbox" name="comList" id="{{data.id}}"></td><td>{{data.name}}</td><td>{{data.desc}}</td><td>{{data.start}}</td><td>{{data.end}}</td></tr>
			    	
		        </tbody>
			</table>
	  </div>
	</div>

<!-- <tr><td><input type="checkbox" name="deleList"></td><td>北京电信</td><td>2015-01-01~2016-05-05</td></tr>
			    	<tr><td><input type="checkbox" name="deleList"></td></td><td>北京电信</td><td>2015-01-01~2016-05-05</td></tr> -->
<!-- <tr><td>序列1(点击后出树图，不能修改)</td><td><input type="text"></td><td><input type="text"></td><td><select><option value="">北京</option><option value="">上海</option></select></td><td><input type="text"></td><td><button class='btn btn-danger' id='dele'  data-toggle='modal' data-target='#deleModal'>删除</button></td><input type="hidden" id="sequence" value="1"></tr>
<tr><td>序列1</td><td><input type="text"></td><td><input type="text"></td><td><select><option value="">北京</option><option value="">上海</option></select></td><td><input type="text"></td><td><button class='btn btn-danger' id='dele'  data-toggle='modal' data-target='#deleModal'>删除</button></td><input type="hidden" id="sequence" value="1"></tr> -->
</div>  <!-- end of sidenav -->
<div class="right_content" id="featureChart">
	
</div>
<div class="modal fade" id="deleModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">确定删除此流量吗？</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left:55px;">取消</button>
        <button type="button" class="btn btn-danger" id='dele_confirm' style="margin-left:25px;">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 </div><!-- /.end -->


<div class="modal fade" id="addModal">
<div class="modal-dialog">
  <div class="modal-content"> 
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <button class="btn btn-default pull-right" id="query" ng-click="query($event)" style="margin-right:10px">查询</button><input type='text' id="queryString" style="color:#000;float:right;margin:4px">
      <h4 class="modal-title">对比流量</h4>
    </div>
    <div class="modal-body">
	 <!-- 	<div>
	  		<label for="" class="Searchlabel">开始时间</label>
	 			<input size="13" type="text" readonly class="form_datetime" id="cp_startTime" datepicker><span style="font-weight:bold">:</span>
	  		<input type="number"  min="0" max="59" id="cp_startSec" style="width:65px;">秒 </br>
	 		 	
	 <label for="" class="Searchlabel">结束时间</label>
	 	<input size="13" type="text" readonly class="form_datetime" id="cp_endTime" datepicker><span style="font-weight:bold">:</span>
	  		<input type="number"  min="0" max="59" id="cp_endSec" style="width:65px;">秒 </br>
	  		</div>	 -->
 		<div style="margin-top:5px;">
 		
 		<label for="" class="Searchlabel">网络协议</label>
	 	<select name="cp_net_pro" id="cp_netPro">
	 		<option value="">所有</option>
 			<option ng-repeat="data in cp_net" value="{{data.id}}">{{data.name}}</option>
 		</select>
 		<label for="" class="Searchlabel">传输层协议</label>
	 	<select name="cp_trans_pro" id="cp_transPro" ng-disabled='cp_transDis'>
	 		<option value="">所有</option>
	 		<option ng-repeat="data in cp_trans" value="{{data.id}}">{{data.name}}</option>
 		</select>
 		<label for="" class="Searchlabel">端口</label>
	 	<select name="cp_port" id="cp_portId">
	 		<option value="">所有</option>
 			<option value="0">0</option>
 			<option value="1">1</option>
 		</select>
 	</div>	
      <table class="table">
	    <thead>
	    	<tr>
	    	<th>编号</th><th>对比流量名称</th><th>描述</th><th>开始时间</th><th>结束时间</th>
	    	</tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="data in comInfos"><td><input id="{{data.id}}" name="comCheck" type='checkbox' ng-disabled='{{data.comdisable}}'></td><td>{{data.name}}</td><td>{{data.descript}}</td><td>{{data.start}}</td><td>{{data.end}}</td></tr>
        </tbody>
	</table>
	<ul id="pagination-traffic" class="pagination-sm pull-right"></ul>	
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left:55px;">取消</button>
      <button type="button" class="btn btn-danger" id='chooseConfirm' style="margin-left:25px;">选择</button>
    </div>
  </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
 </div>