<div class="trafficDesc">
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading"> <span class="caret"></span>真实流量源<button class="btn btn-warning" data-toggle='modal' data-target="#newModal">新建</button></div>
	  <div class="panel-content">
			<table class="table">
			    <thead>
			    	<tr>
			    	<th>编号</th><th>真实流量名称</th><th>机器信息</th><th>描述</th><th>开始时间</th><th>结束时间</th><th>操作</th>
			    	</tr>
			    </thead>
			    <tbody>
<tr ng-repeat="data in infos"><td>{{$index+1}}</td><td>{{data.name}}</td><td>{{data.machine}}</td><td>{{data.descript}}</td><td>{{data.start}}</td><td>{{data.end}}</td><td><!-- <button class="btn btn-warning" data-toggle='modal' data-target="#emulateModal">仿真</button> --><a class="btn btn-info" href="#/realTraffic" ng-click='searchClick($event)'>查看</a></td><input type="hidden" id="sequence" value="{{data.id}}"></tr>
		        </tbody>
			</table>
	  </div>
	</div>		
</div>  

<div class="modal fade" id="newModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">新建任务</h4>
      </div>
      <div class="modal-body form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">选择方式:</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="machineType" checked="checked" value="1">捕获报文
                </label>
                <label>
                  <input type="radio" name="machineType" value="2">产生报文
                </label>
                
              </div>
              
            </div>
            
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">选择机器:</label>
            <div class="col-sm-4">
              <select class="form-control" style="width:" id="machineList">
                <option  ng-repeat="data in machines" value="{{data.id}}">
                  {{data.name}}
                </option>
              </select>
            </div>     
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">执行方式:</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="execType" checked value="1">立即执行
                </label>
                <label>
                  <input type="radio" name="execType" value="2">延迟执行
                </label>
              </div>
            </div>  
          </div> 
          <div class="form-group start">
            <label class="col-sm-2 control-label">开始时间:</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="startCountType" checked="checked" value="1">绝对时间
                </label>
                <label>
                  <input type="radio" name="startCountType" value="2">相对时间
                </label>
              </div>
            </div>
          </div>  
          <div class="form-group start">  
            <div class="col-sm-offset-2">
              <div class="startYearView" style="display:inline-block">
                <input size="13" type="text" readonly class="form_datetime" id="startTime" datepicker><span style="font-weight:bold">:</span>
              </div>
              <input type="number"  min="0" max="59" id="startSec">秒
            </div>
          </div> 
           
          <div class="form-group">
            <label class="col-sm-2 control-label">结束时间:</label>
            <div class="col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="endCountType" checked="checked" value="1">绝对时间
                </label>
                <label>
                  <input type="radio" name="endCountType" value="2">相对时间
                </label>
              </div>
            </div>
          </div>   
          <div class="form-group">
            <div class="col-sm-offset-2">
              <div class="endYearView" style="display:inline-block">
                <input size="13" type="text" readonly class="form_datetime" id="endTime" datepicker><span style="font-weight:bold">:</span>
              </div>
              <input type="number"  min="0" max="59" id="endSec">秒
            </div>
          </div>  
            
            
                     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="newTask">新建</button>
      </div>
    </div>
  </div>
</div>
